# Python

In [1]:
name =input("Name : ")
print("your name is",name)

num =input("\nnum : ")
print("square of",num," is ", int(num)*int(num))

Name : amitabh
your name is amitabh

num : 5
square of 5  is  25

### Variables

In [2]:
a=7
b=4.89
_bat = "Amit"
var_1 = 56
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

### Data Types
<b>String</b><br>
<b>Numeric :</b> int, float, complex<br>
<b>Sequence:</b> list, touple, range<br>
<b>Mapping:</b> dictionary<br>
<b>Set:</b> set, frozen set<br>
<b>Boolean</b><br>
<b>Binary:</b> bytes, byte array, memory view<br>

### Operators
<b>Arithmatic :</b> +, -, *, /, %, ** (exponential), // (floor division)<br>
<b>Assignment :</b> =, +=, -=, *=, /=, %=, //=, **=, &=, |=, ^=, >>=, <<= <br>
<b>Comparision :</b> ==, !=, >, <, >=, <=<br>
<b>Logical :</b> and, or, not<br>
<b>Identity :</b> is, is not<br>
<b>Membership :</b> in, not in<br>
<b>Bitwise :</b> &, |, ^(xor), ~(not), <<(Zero fill left shift), >>(Signed right shift)<br>

### Lists

In [3]:
mylist = ["bmw","audi","merc","honda","toyota","ford"]
mylist.append("bmw") #dups
print(len(mylist))
print(mylist)

anotherlist = [1,2,3,4,5,2,3,1]
print(anotherlist)

7
['bmw', 'audi', 'merc', 'honda', 'toyota', 'ford', 'bmw']
[1, 2, 3, 4, 5, 2, 3, 1]

### Tuples

In [4]:
tup1 = ("bmw","audi","merc","honda","toyota","ford","bmw")
print(len(tup1))
print(tup1)
#cannot add or remove values, 
#still contains dups "bmw"
#ordered

7
('bmw', 'audi', 'merc', 'honda', 'toyota', 'ford', 'bmw')

### Sets

In [5]:
set1 = {"bmw","audi","merc","honda","toyota","ford","bmw"}
print(set1)
print(len(set1))
set1.add("suburu")
print(set1)
print(len(set1))

#no dups, removes second "bmw"
# unordered. suburu inserted in middle

{'ford', 'audi', 'bmw', 'toyota', 'honda', 'merc'}
6
{'ford', 'audi', 'bmw', 'toyota', 'honda', 'suburu', 'merc'}
7

### Dictionary

In [6]:
dict1 = {"bmw":"black","audi":"white","toyota":"red","ford":"silver","bmw":"white"}
print(dict1)
print(len(dict1))

print(dict1.items())
print(dict1.keys())
print(dict1.values())

dict1.pop("toyota")
print(dict1.keys())

dict1.update({"suburu":"pink"})
print(dict1.keys())

# ordered
# no dups. "bmw":"white" removed

{'bmw': 'white', 'audi': 'white', 'toyota': 'red', 'ford': 'silver'}
4
dict_items([('bmw', 'white'), ('audi', 'white'), ('toyota', 'red'), ('ford', 'silver')])
dict_keys(['bmw', 'audi', 'toyota', 'ford'])
dict_values(['white', 'white', 'red', 'silver'])
dict_keys(['bmw', 'audi', 'ford'])
dict_keys(['bmw', 'audi', 'ford', 'suburu'])

| List | Tuple | Set | Dictionary |
| :--- | :--- | :--- | :--- |
| List is a non-homogeneous data structure that stores the elements in single row and multiple rows and columns | Tuple is also a non-homogeneous data structure that stores single row and multiple rows and columns | Set data structure is also non-homogeneous data structure but stores in single row | Dictionary is also a non-homogeneous data structure which stores key value pairs |
| [ ] | ( ) | { } | {k:v} |
| allows duplicate | allows duplicate | not allow duplicate | doesn’t allow duplicate keys |
| list() | tuple() | set() | dict() |
| Example: [1, 2, 3, 4, 5] | Example: (1, 2, 3, 4, 5) | Example: {1, 2, 3, 4, 5} | Example: {1: “a”, 2: “b”, 3: “c”} |
| ordered | ordered | unordered | ordered  |
| <b>mutable</b> can make any changes | <b>immutable</b> can not make any changes | <b>mutable</b> make any changes But not duplicated | <b>mutable</b> But Keys are not duplicated |

### Conditions

In [7]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [8]:
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [9]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [10]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

In [11]:
a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

In [12]:
a = 33
b = 200
if not a > b:
    print("a is NOT greater than b")

a is NOT greater than b

In [13]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

In [14]:
a = 33
b = 200

if b > a:
    pass

### Loops

In [15]:
# while loop
count = 0
while (count < 3):
    count = count + 1
    print("Hello")

Hello
Hello
Hello

In [16]:
# combining else with while
count = 0
while (count < 3):
    count = count + 1
    print("Hello")
else:
    print("In Else Block")

Hello
Hello
Hello
In Else Block

In [17]:
# Single statement while block
count = 2
while (count == 0):
    print("Hello")
else:
    print("exit")

exit

In [18]:
# Iterating over range 0 to n-1
 
n = 4
for i in range(0, n):
    print(i)

0
1
2
3

In [32]:
# Iterating over a list
print("List Iteration")

l = ["geeks", "for", "geeks"]
for i in l:
    print(i)
    
 # Iterating over a tuple (immutable)
print("\nTuple Iteration")
t = ("geeks", "for", "geeks")
for i in t:
    print(i)
 
 # Iterating over a String
print("\nString Iteration")
s = "Geeks"
for i in s:
    print(i)
 
 # Iterating over dictionary
print("\nDictionary Iteration")
d = dict()
d['xyz'] = 123
d['abc'] = 345
for i in d:
    print("%s  %d" % (i, d[i]))
 
 # Iterating over a set
print("\nSet Iteration")
set1 = {1, 2, 3}
for i in set1:
    print(i),

List Iteration
geeks
for
geeks

Tuple Iteration
geeks
for
geeks

String Iteration
G
e
e
k
s

Dictionary Iteration
xyz  123
abc  345

Set Iteration
1
2
3

In [20]:
# combining else with for
 
list = ["geeks", "for", "geeks"]
for index in range(len(list)):
    print(list[index])
else:
    print("Inside Else Block")

geeks
for
geeks
Inside Else Block

In [23]:
# nested for loops in Python
for i in range(1, 5):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [24]:
# Prints all letters except 'e' and 's'
for letter in 'geeksforgeeks':
    if letter == 'e' or letter == 's':
        continue
    print(letter)

g
k
f
o
r
g
k

In [29]:
for letter in 'geeksforgeeks':
    # break the loop as soon it sees 'e' or 's'
    if letter == 'e' or letter == 's':
        break
print(letter)

e

In [30]:
# An empty loop
for letter in 'geeksforgeeks':
    pass
print('Last Letter :', letter)

Last Letter : s

In [31]:
# A simple for loop example
fruits = ["apple", "orange", "kiwi"]
for fruit in fruits:
    print(fruit)

apple
orange
kiwi

### Functions

In [33]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [34]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [35]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [36]:
#If the number of arguments is unknown, add a * before the parameter name:

def my_function(*kids):
    print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [38]:
# Arbitrary Keyword Arguments, **kwargs
#If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.
#This way the function will receive a dictionary of arguments, and can access the items accordingly:

def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [39]:
# Keyword Arguments: You can also send arguments with the key = value syntax.
# This way the order of the arguments does not matter.

def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [40]:
# Default Parameter Value
# If we call the function without argument, it uses the default value:

def my_function(country = "Norway"):
    print("I am from " + country)

my_function("India")
my_function()
my_function("Brazil")

I am from India
I am from Norway
I am from Brazil

In [41]:
#Passing a List as an Argument

def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]
my_function(fruits)

apple
banana
cherry

In [42]:
#Return Values: To let a function return a value, use the return statement:

def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [43]:
#Recursion 

def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

### Lamda Fn

In [45]:
a = lambda x: x*10
print(a(5))

50

### Iterator

In [50]:
tup1 = ("bmw","audi","merc")
mytup = iter(tup1)
print(next(mytup))
print("\n")

mystr = "banana"
myit = iter(mystr)
print(next(myit))
print(next(myit))
print("\n")

mytuple = ("apple", "banana", "cherry")
for x in mytuple:
    print(x)

bmw


b
a


apple
banana
cherry

### Classes

In [51]:
class MyClass:
    x = 5

p1 = MyClass()
print(p1.x)

5

In [52]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [53]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

### Inheritence

In [54]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [55]:
class Student(Person):
    pass

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [58]:
class Student(Person):
    def __init__(self, fname, lname):
        super().__init__(fname, lname)
        self.graduationyear = 2019

x = Student("Mike", "Olsen")
x.printname()
print(x.graduationyear)

Mike Olsen
2019

In [60]:
class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.graduationyear = year

x = Student("Mike", "Olsen", 2019)
x.printname()
print(x.graduationyear)

Mike Olsen
2019

In [59]:
class Student1(Person):
    def __init__(self, fname, lname):
        Person.__init__(self, fname, lname)
        
class Student2(Person):
    def __init__(self, fname, lname):
        super().__init__(fname, lname)

In [61]:
# adding method called welcome to the Student class:

class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.graduationyear = year

    def welcome(self):
        print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)
        
x = Student("Mike", "Olsen", 2019)
x.welcome()

Welcome Mike Olsen to the class of 2019